@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

.active hr{
    @apply block
}
::-webkit-scrollbar{
    @apply hidden
}
@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
